In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')
gender_submission=pd.read_csv('gender_submission.csv')
df=pd.concat([df_train,df_test])
sns.set()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [27]:
print(df['Age'].describe())
df['Age']=df['Age'].fillna(df['Age'].median())
print("="*32)

count    1046.000000
mean       29.881138
std        14.413493
min         0.170000
25%        21.000000
50%        28.000000
75%        39.000000
max        80.000000
Name: Age, dtype: float64
================================

In [28]:

print(df['Fare'].describe())
print(df['Fare'].mode())
df['Fare']=df['Fare'].fillna(df['Fare'].median())
print("="*32)

count    1308.000000
mean       33.295479
std        51.758668
min         0.000000
25%         7.895800
50%        14.454200
75%        31.275000
max       512.329200
Name: Fare, dtype: float64
0    8.05
Name: Fare, dtype: float64
================================

In [29]:
print(df.Embarked.value_counts())
df['Embarked']=df['Embarked'].fillna('S')
df['Embarked']=df['Embarked'].map({'C':0,'Q':1,'S':2})

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [30]:

df['Sex']=df['Sex'].map({'male':1,'female':0})
df['SibSp']=df['SibSp'].apply(lambda x:np.power(x,1/100))

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
Age=StandardScaler()
age=Age.fit_transform(df[['Age']])
df['Age']=age
df_train=df[:891]
x=df_train.drop(['Survived','Ticket','Cabin','Name','PassengerId'],axis=1)
y=df_train['Survived']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)
x.info()
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    float64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 55.7 KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",1,-0.581628,1.0,0,A/5 21171,7.2500,NaN,2
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,0.658652,1.0,0,PC 17599,71.2833,C85,0
2,3,1.0,3,"Heikkinen, Miss. Laina",0,-0.271558,0.0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,0.426099,1.0,0,113803,53.1000,C123,2
4,5,0.0,3,"Allen, Mr. William Henry",1,0.426099,0.0,0,373450,8.0500,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",1,-0.116523,0.0,0,A.5. 3236,8.0500,NaN,2
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",0,0.736169,0.0,0,PC 17758,108.9000,C105,0
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",1,0.697411,0.0,0,SOTON/O.Q. 3101262,7.2500,NaN,2
416,1308,NaN,3,"Ware, Mr. Frederick",1,-0.116523,0.0,0,359309,8.0500,NaN,2
417,1309,NaN,3,"Peter, Master. Michael J",1,-0.116523,1.0,1,2668,22.3583,NaN,0

In [32]:
modelQ=GradientBoostingClassifier()
params={'loss':['log_loss', 'deviance', 'exponential'],'n_estimators':list(range(5,100,5))}     
model=GridSearchCV(modelQ,params,cv=5,scoring='accuracy').fit(x_train,y_train)

c:\Users\amavi\anaconda3\envs\PP_python\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
95 fits failed out of a total of 285.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
95 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\amavi\anaconda3\envs\PP_python\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\amavi\anaconda3\envs\PP_python\lib\site-packages\sklearn\ensemble\_gb.py", line 525, in fit
    self._check_params()
  File "c:\Users\amavi\anaconda3\envs\PP_python\lib\site-packages\sklearn\ensemble\_gb.py", line 282, in _check_params
    raise ValueError("Loss '{0:s}' not supported. ".format(self.loss))
ValueError: Loss 'log_loss' not supported.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\amavi\anaconda3\envs\PP_python\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan 0.80241275 0.82183818 0.8248457  0.82036808 0.82187184
 0.81738301 0.82035686 0.8188531  0.81734934 0.81883066 0.8173269
 0.8143306  0.8173269  0.8173269  0.8173269  0.81883066 0.81133431
 0.81733812 0.81886432 0.80390529 0.82034564 0.81288295 0.81738301
 0.82187184 0.82636068 0.8218494  0.82035686 0.81434182 0.81584558
 0.82183818 0.81584558 0.81139042 0.82186062 0.81136797 0.81287173
 0.81137919 0.81884188 0.81585681]
  warnings.warn(

In [40]:
df_test=df[891:1309]
x=df_test.drop(['Survived','Ticket','Cabin','Name','PassengerId'],axis=1)
predictions=model.predict(x)
gender_submission['Survived']=predictions

In [38]:
gender_submission.to_csv('gender_submission.csv')